<h1>New task</h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Cooking" %>
  </div>
  <br>
  <div>
    <%= form.label :details %>
    <br>
    <%= form.text_area :details, placeholder: "Need to cook some cookies for the break" %>
  </div>
  <br>
  <%= form.submit "Create Task" %>
<% end %>
  <br>
<%= link_to "Back to list", tasks_path %>
